@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;

  /* csslint bulletproof-font-face:false */
  src: url('/fonts/archivo.woff') format('woff');
}

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  color: #818181;
  display: flex;
  flex-direction: row;
  font-family: 'Archivo Black', sans-serif;
  font-size: 5em;
  height: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.container .items {
  display: flex;
  margin-bottom: 10%;
  justify-content: center;
}

.heart {
  -wibkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #D32F2F;
  display: inline-block;
  height: 50px;
  margin: 0 64px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 50px;
}

.heart:before,
.heart:after {
  background-color: #D32F2F;
  border-radius: 50%;
  content: "";
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  left: 0;
  top: -25px;
}

.heart:after {
  left: 25px;
  top: 0;
}

@media only screen and (max-width : 600px) {
  .container {
    font-size: 3em;
  }

  .heart {
    margin: 0 46px;
  }

  .heart,
  .heart:before,
  .heart:after {
    height: 35px;
    width: 35px;
  }

  .heart:before {
    top: -17px;
  }

  .heart:after {
    left: 17px;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: rotate(-45deg) scale3d(1, 1, 1);
    transform: rotate(-45deg) scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: rotate(-45deg) scale3d(1.05, 1.05, 1.05);
    transform: rotate(-45deg) scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: rotate(-45deg) scale3d(1, 1, 1);
    transform: rotate(-45deg) scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: rotate(-45deg) scale3d(1, 1, 1);
    transform: rotate(-45deg) scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: rotate(-45deg) scale3d(1.05, 1.05, 1.05);
    transform: rotate(-45deg) scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: rotate(-45deg) scale3d(1, 1, 1);
    transform: rotate(-45deg) scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
